.app {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
  box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  
}

.showcase video{
  width: 100vw;
  display: block;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: aliceblue;
  padding: 16px;
}

input {
  width: 40%;
  height: 2rem;
  border-radius: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  width: 100vh;
}

.card-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card-info {
  padding: 1rem;
}

.price-section {
  display: flex;
  justify-content: space-between;
}

.card-options {
  padding: 1rem;
}

#size-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  height: 40px;
}