.header-container {
    display: flex;
    height: 48px;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.title img{
    height: 32px;
    width: 32px;
    margin-left: 8px;
    border-radius: 18%;
}