.header-container {
    display: flex;
    height: 48px;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.title img{
    height: 32px;
    width: 32px;
    margin-left: 8px;
    border-radius: 18%;
}

.header-buttons {
    display: flex;
}

.header-buttons button:hover{
    border: 1px solid black;
    border-radius: 15%;
    padding: 1px;
}

.header-buttons button:active {
    background: lightgray;
    scale: 90%;
}